<div class="resetPassword">
  <h1>Restablece tu contraseña</h1>
  <h4>Ingresa tu nueva contraseña</h4>

  <p id="error">{{error}}</p>

  <form action="/api/sessions/reset-password?token={{token}}" method="post">
    <input type="password" placeholder="new password" name="newPassword" />
    <br />
    <button>Restablecer contraseña</button>
  </form>
</div>