<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROYECTO FINAL</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/{{style}}" />

  </head>
  <body>
    <nav>
      <a href="/login">Acceso</a>
      <a href="/profile">Perfil</a>
      <a href="/shop">Shop</a>
      <a href="/realTimeProducts">Productos</a>
      <a href="/chat">Chat</a>
      <a href="/cart">Carrito</a>
    </nav>
    {{{body}}}
  </body>

</html>